.card{
  .list-group{
    background-color: var(--color-surface-mixed-200);
    .list-group-item{
      background-color: var(--color-surface-mixed-200);

      h5{
        margin: 0;
      }

      .list-1, .list-2{
        list-style: none;
        font-weight: 500;
        padding: 7px 5px;
      }

      .list-1{
        white-space: nowrap;
        color: var(--color-text-300);
      }

      .h6-supporter{
        width: 30%;
        height: 3px;
        border-radius: 2px;
        background-color: var(--color-primary-300);
      }
    }
  }
}
