<div class="sticky-top" style="background-color: #fff">
  <div class="d-flex align-items-center justify-content-between px-2 py-2">
    <h5>Holiday Details</h5>
    <mat-icon (click)="onNoClick()">close</mat-icon>
  </div>
  <hr>
</div>
<div mat-dialog-content>
  <div class="container">
    <table class="table">
      <tbody>
      <tr>
        <td>Holiday</td>
        <td>{{data.event.title}}</td>
      </tr>
      <tr>
        <td>Date</td>
        <td>{{data.event.start|date}}</td>
      </tr>
      <tr>
        <td>Time</td>
        <td>{{data.event.start|timeFormat}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
