<div class="container">
  <div class="row card">
    <div class="col" style="position: relative">
      <div class="w-100 d-flex flex-column align-items-center justify-content-center profile-cover">
        <img src="./assets/imgs/shared/cover.jpg" alt="profile cover">
      </div>

      <div class="d-md-flex w-100">
        <div class="profile-img">
          <img src="./assets/imgs/shared/profile-male.png" alt="profile image">
        </div>

        <div class="profile-name" *ngFor="let e of employeeDataStore">
          <h1>{{e.name}}</h1>
          <h5>{{e.jobData.department}}</h5>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
