.card, .card-2{
  background-color: var(--color-surface-mixed-200);
  border-radius: 0 0 8px 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding-bottom: 20px;

  .profile-cover{
    background-color: var(--color-surface-mixed-200);
    //min-height: 200px;
    height: 100%;
    max-height: 360px;
    object-fit: cover;
    object-position: center;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);

    img{
      width: 100%;
      height: 100%;
    }
  }

  .profile-img{
    max-width: max(150px, 15vw);
    max-height: max(150px, 15vw);
    border-radius: 100%;
    background-color: var(--color-surface-mixed-200);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    margin-top: -150px;
    margin-bottom: 20px;
    margin-left: 20px;
    border: 5px solid var(--color-surface-mixed-200);
    object-fit: cover;
    object-position: center;
    position: relative;
    overflow: hidden;
    z-index: 1;

    img{
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      margin-top: -100px;
    }

    @media screen and (max-width: 528px) {
      margin-top: -70px;
    }
  }

  .profile-name{
    text-align: left;
    margin-top: 8px;
    font-weight: bold;
    font-size: 3rem;
    margin-left: 20px;
    //text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    h6{
      color: var(--color-text-300);
    }
  }
}

.card-2{
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px 35px;

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    color: var(--color-text-200);

    li{
      span{
        font-size: 12px;
      }
    }
  }

  .posting-item{
    width: 100%;
    height: 100%;
    background-color: var(--color-surface-mixed-200);
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;

    span{
      font-size: max(14px, 1.5vw);
      color: var(--color-text-300);
    }

    &:hover{
      cursor: pointer;
      background-color: var(--color-surface-mixed-300);
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    }
  }

  .vr{
    width: 1px;
    height: 100%;
    background-color: var(--color-surface-mixed-200);
    margin: 0 10px;
  }
}

.nav-pills{
  background-color: var(--color-surface-mixed-300);
  border-radius: 8px;
  padding: 10px;

  .nav-item{
    .nav-link{
      color: var(--color-text-300);
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      span{
        color: var(--color-text-300);
        font-weight: 500;
      }
    }
    .nav-link.active{
      background-color: var(--color-primary-200);
      color: white;

      span{
        color: white;
      }
    }
  }
}
