<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="card-1">
            <div class="img-wrapper">
              <img [src]="convertToSafeUrl(employee.photo)" alt="profile image">
            </div>
            <div class="welcome-text">
              Welcome {{employee.name.split(' ')[0]}} !
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card-2">
            <div class="card-2-title"><mat-icon> list_alt</mat-icon> Pending Tasks</div>
            <table class="table table-hover">
              <tbody>
              <tr *ngFor="let pTask of pendingDataStore">
                <td matTooltip="View on calendar" class="d-none d-md-table-cell" routerLink="/event-calendar">{{pTask.title}}</td>
                <td matTooltip="View on calendar" class="d-none d-md-table-cell">{{pTask.start | date}}</td>
              </tr>
              </tbody>
              <tfoot *ngIf="!isFoundPTask">
                <tr>
                  <td colspan="2">No pending tasks found</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card-2">
            <div class="card-2-title"><mat-icon> assignment_turned_in</mat-icon> Completed Tasks</div>
            <table class="table table-hover">
              <tbody>
              <tr *ngFor="let cTask of completedDataStore">
                <td matTooltip="View on calendar" class="d-none d-md-table-cell" routerLink="/event-calendar">{{cTask.title}}</td>
                <td matTooltip="View on calendar" class="d-none d-md-table-cell">{{cTask.start | date}}</td>
              </tr>
              </tbody>
              <tfoot *ngIf="!isFoundCTask">
                <tr>
                  <td colspan="2">No completed tasks found</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <div class="row mt-2 mb-2">
        <div class="col-12">
          <div class="card-2">
            <div class="row">
              <div class="col-12 col-md-7">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="chart-div">
                      <canvas id="empChart"></canvas>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="chart-div">
                      <canvas id="attendChart"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-5">
                <div class="row">
                  <div class="col-6">
                    <div class="card-3">
                      <div class="card-3-sm-text">Recruitments</div>
                      <div class="card-3-lg-text">11</div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-3">
                      <div class="card-3-sm-text">Exits</div>
                      <div class="card-3-lg-text">4</div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-3">
                      <div class="card-3-sm-text">Late</div>
                      <div class="card-3-lg-text">5</div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-3">
                      <div class="card-3-sm-text">On Leave</div>
                      <div class="card-3-lg-text">11</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-7">
          <div class="chart-div">
            <canvas id="payrollChart"></canvas>
            <div class="d-flex align-items-center mt-2 mb-4">
              <button class="btn-1" (click)="prevPage()"><mat-icon>keyboard_arrow_left</mat-icon> Prev</button>
              <button class="btn-1 ms-2" (click)="nextPage()">Next <mat-icon>keyboard_arrow_right</mat-icon></button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <div class="row">
            <div class="col-6">
              <div class="card-3">
                <div class="card-3-sm-text">Processing Time</div>
                <div class="card-3-lg-text">11</div>
              </div>
            </div>
            <div class="col-6">
              <div class="card-3">
                <div class="card-3-sm-text">Total Cost</div>
                <div class="card-3-lg-text">3.5M</div>
              </div>
            </div>
            <div class="col-6">
              <div class="card-3">
                <div class="card-3-sm-text">Payroll Errors</div>
                <div class="card-3-lg-text">5</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card-2 mb-4">
        <div class="card-2-title"><mat-icon> offline_bolt</mat-icon> Quick Access</div>

        <div class="quick-access-list">
          <table class="table table-hover">
            <tbody>
            <tr *ngFor="let quickAccess of quickAccessDataStore">
              <td matTooltip="View on calendar" class="d-none d-md-table-cell" routerLink="/event-calendar">{{quickAccess.title}}</td>
              <td matTooltip="View on calendar" class="d-none d-md-table-cell">{{quickAccess.start | date}}</td>
            </tr>
            </tbody>
            <tfoot *ngIf="!isFoundQuickAccess">
              <tr>
                <td colspan="2">No quick access found</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="card-2">
        <div class="d-flex align-items-center justify-content-between">
          <div class="card-2-title"><mat-icon> today</mat-icon> Events</div>
          <button class="btn-1" (click)="openCreateDialog()">Add new</button>
        </div>

        <div class="events-list">
          <table class="table table-hover">
            <tbody>
            <tr *ngFor="let event of eventDataStore" matTooltip="View on calendar" routerLink="/event-calendar">
              <td class="d-none d-md-table-cell">{{event.title}}</td>
              <td class="d-none d-md-table-cell">{{event.start | date}}</td>
            </tr>
            </tbody>
            <tfoot *ngIf="!isFoundEvent">
              <tr>
                <td colspan="2">No events found</td>
              </tr>
            </tfoot>
          </table>

          <div *ngIf="isLoadingEvent">
<!--            TODO: add loading-->
            <app-server-loading></app-server-loading>
          </div>
        </div>
      </div>
      <app-latest-news></app-latest-news>
    </div>
  </div>
</div>
