<div class="container mb-4 mt-4">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="card-1">
            <div class="img-wrapper">
              <img [src]="convertToSafeUrl(employee.photo)" alt="profile image">
            </div>
            <div class="welcome-text">
              Welcome {{employee.name.split(' ')[0]}} !
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card-2">
            <div class="card-2-title"><mat-icon> list_alt</mat-icon> Pending Tasks</div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card-2">
            <div class="card-2-title"><mat-icon> assignment_turned_in</mat-icon> Completed Tasks</div>
          </div>
        </div>
      </div>
      <div class="row mt-2 mb-2">
        <div class="col-12">
          <div class="card-2">
            <div class="row">
              <div class="col-12 col-md-7">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="chart-div">
                      <canvas id="empChart"></canvas>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="chart-div">
                      <canvas id="attendChart"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-5">
                <div class="row">
                  <div class="col-6">
                    <div class="card-3">
                      <div class="card-3-sm-text">Recruitments</div>
                      <div class="card-3-lg-text">11</div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-3">
                      <div class="card-3-sm-text">Exits</div>
                      <div class="card-3-lg-text">4</div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-3">
                      <div class="card-3-sm-text">Late</div>
                      <div class="card-3-lg-text">5</div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-3">
                      <div class="card-3-sm-text">On Leave</div>
                      <div class="card-3-lg-text">11</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-7">
          <div class="chart-div">
            <canvas id="payrollChart"></canvas>
            <div class="d-flex align-items-center mt-2 mb-4">
              <button class="btn-1" (click)="prevPage()"><mat-icon>keyboard_arrow_left</mat-icon> Prev</button>
              <button class="btn-1 ms-2" (click)="nextPage()">Next <mat-icon>keyboard_arrow_right</mat-icon></button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <div class="row">
            <div class="col-6">
              <div class="card-3">
                <div class="card-3-sm-text">Processing Time</div>
                <div class="card-3-lg-text">11</div>
              </div>
            </div>
            <div class="col-6">
              <div class="card-3">
                <div class="card-3-sm-text">Total Cost</div>
                <div class="card-3-lg-text">3.5M</div>
              </div>
            </div>
            <div class="col-6">
              <div class="card-3">
                <div class="card-3-sm-text">Payroll Errors</div>
                <div class="card-3-lg-text">5</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card-2 mb-4">
        <div class="card-2-title"><mat-icon> offline_bolt</mat-icon> Quick Access</div>
      </div>
      <div class="card-2">
        <div class="card-2-title"><mat-icon> today</mat-icon> Events</div>
        <app-event-calendar></app-event-calendar>
      </div>
      <app-latest-news></app-latest-news>
    </div>
  </div>
</div>
