HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Intellij IDEA
*.iml
*.iws
.idea
*.ijs
*.ipr

# Eclipse
*.project
*.launch
*.classpath
*.htaccess
*.htpasswd
*.htgroups
*.cproject
*.cdtproject
*.workspace
*.externalToolBuilders
*.external-system

# Visual Studio Code
.vscode

# Compiled class file
*.class

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.env
