.plan-label{
  font-weight: 500;
  color: #ffffff;
  background-color: #3498db;
}
.plan-value{
  background-color: #d9e1f2;
}

.task-title{
  background-color: #3498db!important;
  color: #ffffff!important;
}

.main-data{
  border: 1px solid #3498db;
}

h5{
  margin: 5px 0;
}

.status-mark{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}
