<div class="container" style="max-height: calc(100vh - 70px); overflow-y: auto">
  <div *ngFor="let bulletin of filterBulletins()">
    <div class="card bulletin-card" [ngStyle]="getBackgroundStyle(bulletin)">
      <div style="width: 100%; margin: 10px 0" *ngIf="bulletin.titleImage">
        <img [src]="convertToSafeUrl(bulletin.titleImage)" alt="title image" class="title-image">
      </div>

      <h2 class="title" [ngStyle]="{'color':bulletin.fontColor=='true'?'#000':bulletin.fontColor=='false'?'#fff':''}">{{bulletin.title}}</h2>

      <p class="msg" [ngStyle]="{'color':bulletin.fontColor=='true'?'#4b6a86':bulletin.fontColor=='false'?'#bfbfbf':''}">{{bulletin.messages}}</p>

      <a href="{{bulletin.redirectUrl}}" target="_blank"><button class="btn-1 w-100">{{bulletin.action}}</button></a>
    </div>
  </div>

<!--  news -->
  <div class="card ln">
    <div class="card-body">
      <h5 class="card-title">Latest News</h5>
      <div *ngFor="let news of filterNews() | truncateComments:maxNewsDisplayed">
        <div class="latest-news mb-3" (click)="openURL(news.redirectUrl)">
          <p class="card-text" style="margin-bottom: 0" [title]="news.description">{{news.description | truncate:100}}</p>
          <small class="text-body-secondary">{{news.timestamp | timeAgo}}</small>
        </div>
      </div>
      <p class="view-all" *ngIf="filterNews().length>3" (click)="toggleNews()">... {{showAllNews?'Collapse':'View All'}} Latest News</p>
      <div class="data-not-found" *ngIf="filterNews().length == 0">
        <p>No Data Available</p>
      </div>
    </div>
  </div>
</div>
