<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Annual survey is now open Ten questions should be answered</h5>
      <p class="card-text">Ten questions you should answer truthfully. Ten questions you should answer truthfully</p>

      <button class="btn-2">Learn more</button>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Annual survey is now open Ten questions should be answered</h5>
      <p class="card-text">Ten questions you should answer truthfully. Ten questions you should answer truthfully</p>

      <button class="btn-2">Learn more</button>
    </div>
  </div>

<!--  news -->
  <div class="card ln">
    <div class="card-body">
      <h5 class="card-title">Latest News</h5>
      <div style="margin-bottom: 15px">
        <p class="card-text" style="margin-bottom: 0">Today’s news Ten questions you should answer truthfully</p>
        <small class="text-body-secondary">2hr</small>
      </div>
      <div style="margin-bottom: 15px">
        <p class="card-text" style="margin-bottom: 0">Today’s news Ten questions you should answer truthfully</p>
        <small class="text-body-secondary">2hr</small>
      </div>
      <div style="margin-bottom: 15px">
        <p class="card-text" style="margin-bottom: 0">Today’s news Ten questions you should answer truthfully</p>
        <p class="text-body-secondary">2hr</p>
      </div>
      <p class="view-all">... View All Latest News</p>
    </div>
  </div>
</div>
