.card.ln{
  margin-top: 20px;

  .card-text{
    font-weight: 500;
  }
  .text-body-secondary{
    font-size: 12px;
    color: var(--color-text-300) !important;
  }

  .latest-news{
    &:hover{
      cursor: pointer;
      background-color: var(--color-surface-mixed-100);
    }
  }

  .view-all{
    width: 100%;
    text-align: center;
    color: var(--color-text-100);
    cursor: pointer;
    margin-top: 15px;
    font-weight: 500;
    font-size: 14px;
    transition: color 0.3s ease;

    &:hover{
      color: var(--color-primary-200);
    }
  }
}

.bulletin-card{
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 18px 20px;

  .title-image{
    width: 100%;
  }

  input{
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    margin: 5px 0;
  }

  #title, .title{
    font-size: 22px;
    font-weight: 800;
    color: var(--color-text-100);

    &::placeholder{
      font-size: 22px;
      font-weight: 800;
    }
  }

  #msg, .msg{
    text-align: left;
    color: var(--color-text-300);

    &::placeholder{
      color: var(--color-text-300);
    }
  }

  a{
    text-decoration: none;
  }
}

::-webkit-scrollbar {
  width: 0;
}
