.btn-1{
  color: white;
  font-weight: 500;

  span{
    color: white;
  }
}

.card{
  .list-group{
    background-color: var(--color-surface-mixed-200);
    .list-group-item{
      background-color: var(--color-surface-mixed-200);

      p, i{
        margin: 0 0 20px 0;
        padding: 0;
        color: var(--color-text-200);
      }

      h5{
        margin: 0;
      }

      .leave-balance{
        .col-3 .leave-balance-card {
          padding: 12px 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          color: black;

          h1{
            color: black;
          }
        }

        .col-3:nth-child(1) .leave-balance-card {
          background-color: rgba(255, 248, 221, 1);
        }

        .col-3:nth-child(2) .leave-balance-card {
          background-color: rgba(233, 243, 255, 1);
        }

        .col-3:nth-child(3) .leave-balance-card {
          background-color: rgba(248, 245, 255, 1);
        }

        .col-3:nth-child(4) .leave-balance-card {
          background-color: rgba(255, 238, 243, 1);
        }
      }
    }
  }
}

.transfer-list{
  max-height: calc(100vh - 200px);
  overflow: auto;

  .table{
    min-width: 350px;
    margin-top: 15px;
    background-color: transparent;

    th, td{
      background-color: transparent;
      color: var(--color-text-200);

      p, span, small{
        margin: 0;
        color: var(--color-text-200);
      }
      P{
        font-weight: 450;
      }
    }

    .td-status{
      text-align: center;

      .status-tag{
        text-transform: uppercase;
        font-size: 14px;
        padding: 3px 10px;
        border-radius: 5px;
      }
    }
    .td-manage{
      text-align: end;
    }
  }
}

.btn-2{
  width: fit-content;

  &:nth-child(2){
    background-color: #e74c3c;
    color: white;

    &:hover{
      background-color: #c0392b;
    }
  }
}