.card{
  .card-body{
    .input-group{
      .input-group-text{
        background-color: var(--color-surface-mixed-300);
        color: var(--color-text-200);
      }
      .form-control{
        background-color: var(--color-surface-mixed-200);
        color: var(--color-text-200);

        &:focus{
          background-color: var(--color-surface-mixed-200);
        }

        &::placeholder{
          color: var(--color-text-200);
        }
      }
    }
  }
}

.direct-messages-chat-area{
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;

  .chat-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 0;
    cursor: pointer;
    transition: all 0.3s ease;

    position: relative;

    .chat-icon{
      width: 35px;
      height: 35px;
      border-radius: 100%;
      background-color: var(--color-surface-mixed-200);
      margin-right: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img{
        width: 100%;
      }
    }

    .chat-content{
      h6{
        color: var(--color-text-200);
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0;
      }
      p{
        color: var(--color-text-300);
        font-size: 12px;
        margin-bottom: 0;
      }
    }

    .active-chat-count{
      position: absolute;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      top: 50%;
      right: 10px;
      background-color: var(--color-primary-300);
    }
    .chat-time{
      position: absolute;
      bottom: 50%;
      right: 10px;
    }

    &:hover{
      background-color: var(--color-surface-mixed-200);
    }
  }
}

.direct-messages-chat-area.all-contacts{
  padding: 0 20px;
}

.mat-expansion-panel{
  background-color: var(--color-surface-mixed-300);
}
.mat-expansion-panel-header:not([aria-disabled=true]) {
  cursor: pointer;
  background-color: var(--color-surface-mixed-200);
}
.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  color: var(--color-text-200);
}
.mat-expansion-indicator::after, .mat-expansion-indicator::before {
  color: var(--color-text-200) !important;
}
.mat-expansion-panel-body {
  padding: 0 !important;
  background-color: var(--color-surface-mixed-300) !important;
}
.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
  background-color: var(--color-surface-mixed-200);
}

