<div class="w-100" style="max-height: 100vh; overflow-y: auto">
  <div class="card">
    <div class="card-body">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><mat-icon>search</mat-icon></span>
        <input id="search-chat" type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
      </div>
    </div>
  </div>

  <mat-accordion>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Direct Messages
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="direct-messages-chat-area">
        <div class="chat-wrapper">
          <div class="chat-icon">
            <img src="./assets/imgs/shared/profile-1.png" alt="profile">
          </div>
          <div class="chat-content">
            <h6>John Doe</h6>
            <p>Lorem ipsum dolor sit</p>
          </div>
        </div>
        <div class="chat-wrapper">
          <div class="chat-icon">
            <img src="./assets/imgs/shared/profile-1.png" alt="profile">
          </div>
          <div class="chat-content">
            <h6>John Doe</h6>
            <p>Lorem ipsum dolor sit</p>
          </div>
        </div>
        <div class="chat-wrapper">
          <div class="chat-icon">
            <img src="./assets/imgs/shared/profile-1.png" alt="profile">
          </div>
          <div class="chat-content">
            <h6>John Doe</h6>
            <p>Lorem ipsum dolor sit</p>
          </div>
        </div>
        <div class="chat-wrapper">
          <div class="chat-icon">
            <img src="./assets/imgs/shared/profile-1.png" alt="profile">
          </div>
          <div class="chat-content">
            <h6>John Doe</h6>
            <p>Lorem ipsum dolor sit</p>
          </div>
        </div>
        <div class="chat-wrapper">
          <div class="chat-icon">
            <img src="./assets/imgs/shared/profile-1.png" alt="profile">
          </div>
          <div class="chat-content">
            <h6>John Doe</h6>
            <p>Lorem ipsum dolor sit</p>
          </div>
        </div>
        <div class="chat-wrapper">
          <div class="chat-icon">
            <img src="./assets/imgs/shared/profile-1.png" alt="profile">
          </div>
          <div class="chat-content">
            <h6>John Doe</h6>
            <p>Lorem ipsum dolor sit</p>
          </div>
        </div>
        <div class="chat-wrapper">
          <div class="chat-icon">
            <img src="./assets/imgs/shared/profile-1.png" alt="profile">
          </div>
          <div class="chat-content">
            <h6>John Doe</h6>
            <p>Lorem ipsum dolor sit</p>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Channels
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="direct-messages-chat-area">
        <div class="chat-wrapper">
          <div class="chat-icon">
            <img src="./assets/imgs/shared/profile-1.png" alt="profile">
          </div>
          <div class="chat-content">
            <h6>John Doe</h6>
            <p>Lorem ipsum dolor sit</p>
          </div>
        </div>
        <div class="chat-wrapper">
          <div class="chat-icon">
            <img src="./assets/imgs/shared/profile-1.png" alt="profile">
          </div>
          <div class="chat-content">
            <h6>John Doe</h6>
            <p>Lorem ipsum dolor sit</p>
          </div>
        </div>
        <div class="chat-wrapper">
          <div class="chat-icon">
            <img src="./assets/imgs/shared/profile-1.png" alt="profile">
          </div>
          <div class="chat-content">
            <h6>John Doe</h6>
            <p>Lorem ipsum dolor sit</p>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
