<h1 mat-dialog-title>{{receivedData.title}}</h1>
<div mat-dialog-content>
    <p>{{receivedData.msg}}</p>
    <form [formGroup]="textAreaForm">
        <textarea formControlName="text" class="form-control"></textarea>
    </form>
</div>
<div mat-dialog-actions>
    <button (click)="closePopup()" mat-raised-button color="secondary" class="me-2">Cancel</button>
    <button (click)="receivedData.data.id?editRequest():saveRequest()" mat-raised-button color="primary" [disabled]="textAreaForm.invalid && !buttonDisabled">{{receivedData.data.id?'Edit Request':'Send Request'}}</button>
</div>