.body {
  background-image: url('#');
  background-size: cover;
  background-repeat: no-repeat;
}

.div-contain {
  margin: 0;
  min-height: 100vh; 
  display: flex;
  flex-direction: row;
   align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logo {
  width: clamp(150px, 80%, 300px); 
  height: auto;
  color: antiquewhite;

  img {
    max-width: 100%; 
  }
}



#reset_window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:  90px 20px; 
  width: clamp(250px, 80%, 500px); 
  height: auto; 
  background-color: var(--color-surface-mixed-200);
  border-radius: 20px; 

  p {
    font-size: clamp(12px, 2vw, 16px); 
  }
}

input {
  border-radius: 5px;
  width: 80%; 
  margin: 10px;

  &::placeholder{
    color: var(--color-secondary-600);
  }
}



button {
  width: 80%; 
  margin: 10px; 
}

a {
  margin: 10px; 
  text-decoration: none;
  font-size: clamp(14px, 3vw, 16px); 

  &:hover{
    text-decoration: underline;
    
  }
}




@media only screen and (max-width:768px) {
  .row {
    flex-direction: column; 
  }
  .col-6 {
    width: 100%; 
    margin-bottom: 20px; 
  }
}
