<div class="sticky-top py-2" style="background-color: #fff">
  <div class="d-flex align-items-center justify-content-between px-2">
    <h5>{{receivedData.data.id?'Edit':'Create'}} Shift</h5>
    <mat-icon (click)="closePopup()">close</mat-icon>
  </div>
  <hr>
</div>

<div class="container">
  <form [formGroup]="onboardinTaskForm">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="d-flex align-items-center h-100">
          <div class="label">
            Shift Name (long) *
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <mat-form-field class="w-100" appearance="outline">
          <input matInput id="longName" formControlName="longName" placeholder="Workday Shift">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4">
        <div class="d-flex align-items-center h-100">
          <div class="label">
            Abbreviation (short) *
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <mat-form-field class="w-100" appearance="outline">
          <input matInput id="name" formControlName="name" placeholder="WD">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4">
        <div class="d-flex align-items-center h-100">
          <div class="label">
            Start at *
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <div class="d-flex">
          <mat-form-field class="w-100" appearance="outline">
            <input matInput id="start" formControlName="start" placeholder="8.00AM">
          </mat-form-field>
          <div class="d-flex flex-column" style="margin-bottom: 22px">
            <button type="button" class="btn-2" (click)="updateStartTime('AM')">AM</button>
            <button type="button" class="btn-2" (click)="updateStartTime('PM')">PM</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="d-flex align-items-center h-100">
          <div class="label">
            End at *
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <div class="d-flex">
          <mat-form-field class="w-100" appearance="outline">
            <input matInput id="end" formControlName="end" placeholder="6.00PM">
          </mat-form-field>
          <div class="d-flex flex-column" style="margin-bottom: 22px">
            <button type="button" class="btn-2" (click)="updateEndTime('AM')">AM</button>
            <button type="button" class="btn-2" (click)="updateEndTime('PM')">PM</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="d-flex align-items-center h-100">
          <div class="label">
            Duration(hr) *
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <mat-form-field class="w-100" appearance="outline">
          <input matInput id="duration" formControlName="duration" placeholder="9" type="number">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4">
        <div class="d-flex align-items-center h-100">
          <div class="label">
            Earliest In Time(hr) *
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <mat-form-field class="w-100" appearance="outline">
          <input matInput id="earliestInTime" formControlName="earliestInTime" placeholder="2" type="number">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4">
        <div class="d-flex align-items-center h-100">
          <div class="label">
            Latest Out Time(hr) *
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <mat-form-field class="w-100" appearance="outline">
          <input matInput id="latestOutTime" formControlName="latestOutTime" placeholder="6" type="number">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4">
        <div class="d-flex align-items-center h-100">
          <div class="label">
            First Half Duration(hr) *
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <mat-form-field class="w-100" appearance="outline">
          <input matInput id="firstHalfDuration" formControlName="firstHalfDuration" placeholder="4" type="number">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4">
        <div class="d-flex align-items-center h-100">
          <div class="label">
            Second Half Duration(hr) *
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <mat-form-field class="w-100" appearance="outline">
          <input matInput id="secondHalfDuration" formControlName="secondHalfDuration" placeholder="4" type="number">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4">
        <div class="d-flex align-items-center h-100">
          <div class="label">
            Shift Nature *
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <mat-form-field class="w-100" appearance="outline">
          <mat-select formControlName="shiftNature" placeholder="Fixed">
            <mat-option value="fixed">Fixed</mat-option>
            <mat-option value="flexible">Flexible</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4">
        <div class="d-flex align-items-center h-100">
          <div class="label">
            Off Shift *
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <mat-form-field class="w-100" appearance="outline">
          <mat-select formControlName="offShift" placeholder="No">
            <mat-option value="no">No</mat-option>
            <mat-option value="yes">Yes</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4">
        <div class="d-flex align-items-center h-100">
          <div class="label">
            Deducting Hours(hr) *
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <mat-form-field class="w-100" appearance="outline">
          <input matInput id="deductingHours" formControlName="deductingHours" placeholder="1" type="number">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4">
        <div class="d-flex align-items-center h-100">
          <div class="label">
            Minimum Pre OT Hours(hr) *
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <mat-form-field class="w-100" appearance="outline">
          <input matInput id="minPreOTHours" formControlName="minPreOTHours" placeholder="1" type="number">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4">
        <div class="d-flex align-items-center h-100">
          <div class="label">
            Minimum Post OT Hours(hr) *
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <mat-form-field class="w-100" appearance="outline">
          <input matInput id="minPostOTHours" formControlName="minPostOTHours" placeholder="1" type="number">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4">
        <div class="d-flex align-items-center h-100">
          <div class="label">
            Maximum Pre OT Hours(hr) *
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <mat-form-field class="w-100" appearance="outline">
          <input matInput id="maxPreOTHours" formControlName="maxPreOTHours" placeholder="4" type="number">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4">
        <div class="d-flex align-items-center h-100">
          <div class="label">
            Maximum Post OT Hours(hr) *
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <mat-form-field class="w-100" appearance="outline">
          <input matInput id="maxPostOTHours" formControlName="maxPostOTHours" placeholder="4" type="number">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4">
        <div class="d-flex align-items-center h-100">
          <div class="label">
            Description *
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput id="description" formControlName="description"
                    placeholder="Description to new task..."></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div class="sticky-bottom py-2" style="background-color: #fff">
  <hr>
  <div class="d-flex align-items-center justify-content-end px-2">
    <button class="btn me-2" (click)="closePopup()">Cancel</button>
    <button class="btn" [disabled]="onboardinTaskForm.invalid" (click)="receivedData.data.id?editShift():saveShift()">{{receivedData.data.id?'Edit':'Create'}}</button>
  </div>
</div>
