.btn{
  border: none;
  outline: none;
  background-color: #8b8b8b;
  border-radius: 5px;
  padding: 3px 10px;
  color: white;

  &:nth-child(2){
    background-color: #382bf0;
  }

  &:disabled{
    background-color: #a6a6a6;
  }
}

p{
  margin-bottom: 0;
}
