<div class="container">

  <ul class="nav nav-pills my-3">
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="navigateBetweenTabs('employee-payments')" [class.active]="isActive('employee-payments')" matTooltip="View payitems of the employees"><mat-icon>person</mat-icon><span class="d-none d-md-block">&nbsp;&nbsp;Employee Payments</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="navigateBetweenTabs('payitems')" [class.active]="isActive('payitems')" matTooltip="View payitems"><mat-icon>credit_card</mat-icon><span class="d-none d-md-block">&nbsp;&nbsp;Pay Items</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" (click)="navigateBetweenTabs('payroll-reports-overview')" [class.active]="isActive('payroll-reports-overview')" matTooltip="View Payroll reports"><mat-icon>article</mat-icon><span class="d-none d-md-block">&nbsp;&nbsp;Payroll Reports</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" (click)="navigateBetweenTabs('taxdetails')" [class.active]="isActive('taxdetails')" matTooltip="View tax settings"><mat-icon>calculate</mat-icon><span class="d-none d-md-block">&nbsp;&nbsp;Tax settings</span></a>
      </li>
  </ul>

  <router-outlet></router-outlet>

</div>
