<div class="container">

    <ul class="nav nav-pills my-3">
        <li class="nav-item" *ngIf="employee.level != 2">
            <a class="nav-link active" aria-current="page" (click)="navigateBetweenTabs('plan')" [class.active]="isActive('plan')" matTooltip="Assign Plans to Employees"><mat-icon>ballot</mat-icon><span class="d-none d-md-block">&nbsp;&nbsp;Assign Plan</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" (click)="navigateBetweenTabs('assign')" [class.active]="isActive('assign')" matTooltip="Current Onboarding Plans List"><mat-icon>swap_horiz</mat-icon><span class="d-none d-md-block">&nbsp;&nbsp;Current Plans</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" (click)="navigateBetweenTabs('task')" [class.active]="isActive('task')" matTooltip="My Onboarding Tasks List"><mat-icon>stars</mat-icon><span class="d-none d-md-block">&nbsp;&nbsp;{{employee.level == 2?'My ':'All '}}Tasks</span></a>
        </li>
    </ul>

    <router-outlet></router-outlet>

</div>

