<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="d-flex align-items-center justify-content-between">
                <h5>Employee Payments</h5>
            </div>
        </li>
        <li class="list-group-item">

            <!-- <div class="d-flex align-items-center justify-content-end">
                <button class="btn-1 px-2" matTooltip="New Payitem"><mat-icon>add</mat-icon><span class="d-none d-md-block">Add Pay Items</span></button>
            </div> -->

            <div class="table-data-list">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let employee of employees" routerLink='../employee/{{employee.id}}/payitems' style="cursor: pointer;">
                        <td><mat-icon>navigate_next</mat-icon></td>
                        <td>{{ employee.name }}</td>
                        <td>{{ employee.email }}</td>
                        <td>{{ employee.phone }}</td>
                    </tbody>
                  </table>
            </div>

        </li>
        <li class="list-group-item">&nbsp;</li>
    </ul>
</div>
    