<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="d-flex align-items-center justify-content-between">
                <h5>Employee Payments</h5>
            </div>
        </li>
        <li class="list-group-item">

            <!-- <div class="d-flex align-items-center justify-content-end">
                <button class="btn-1 px-2" matTooltip="New Payitem"><mat-icon>add</mat-icon><span class="d-none d-md-block">Add Pay Items</span></button>
            </div> -->

            <div *ngIf="isLoading">
                <app-in-progress></app-in-progress>
                <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
            </div>

            <div class="alert alert-danger" role="alert" style="margin-top: 12px;" *ngIf="isError">
              An unexpected error occurred while loading the requested data. Please try again.
            </div>

            <div class="table-data-list" *ngIf="!isError">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th style="text-align: right;">Estimated Salary (LKR)</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employeePayment of employeePayments" routerLink='../employee/{{employeePayment.id}}/payitems' style="cursor: pointer;">
                            <td><mat-icon>navigate_next</mat-icon></td>
                            <td>{{ employeePayment.name }}</td>
                            <td>{{ employeePayment.email }}</td>
                            <td style="text-align: right;">{{ employeePayment.amount.toFixed(2) }}</td>
                        </tr>
                    </tbody>
                  </table>
            </div>

        </li>
        <li class="list-group-item" *ngIf="!isError">&nbsp;</li>
    </ul>
</div>
    