<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="d-flex align-items-center justify-content-between">
                <h5>My Attendance</h5>
            </div>
        </li>
        <li class="list-group-item">

            <div class="attendance-list">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>In</th>
                        <th>Out</th>
                        <th>No. Hours</th>
                        <th>Work Shift</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let a of filterAttendance()">
                        <td>{{a.recordInTime | dateFormat}}</td>
                        <td [ngStyle]="{'color': calculateHours(a.recordInTime, a.recordOutTime) < 9 ? 'red':'var(--color-text-200)'}">
                            {{a.recordInTime | timeFormat}}
                        </td>
                        <td>{{a.recordOutTime==null ? '-' : a.recordOutTime | timeFormat}}</td>
                        <td [ngStyle]="{'color': calculateHours(a.recordInTime, a.recordOutTime) < 9 ? 'red' : 'var(--color-text-200)'}">
                            {{a.recordOutTime==null ? '-' : calculateHours(a.recordInTime, a.recordOutTime) | hourMinuteFormat}}
                        </td>
                        <td>{{a.workShift ? a.workShift : 'N/A'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </li>
        <li class="list-group-item">&nbsp;</li>
    </ul>
</div>
