<div class="container">

    <ul class="nav nav-pills my-3">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="navigateBetweenTabs('attendance')" [class.active]="isActive('attendance')" matTooltip="Employee Dashboard"><mat-icon>person_add</mat-icon><span class="d-none d-md-block">&nbsp;&nbsp;Attendance</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="navigateBetweenTabs('leave')" [class.active]="isActive('leave')" matTooltip="Request transfer"><mat-icon>person_remove</mat-icon><span class="d-none d-md-block">&nbsp;&nbsp;Leave</span></a>
        </li>
    </ul>

    <router-outlet></router-outlet>

</div>
