<div class="d-sm-flex align-items-start justify-content-between">
  <div class="row w-100 w-md-60">
    <div class="col-12 col-md-6">
      <div class="input-group px-2" style="max-width: 500px">
        <span class="input-group-text" id="basic-addon1"><mat-icon>search</mat-icon></span>
        <input id="search-chat" type="text" class="form-control" placeholder="Search" aria-label="Username"
               aria-describedby="basic-addon1" (keyup)="handleSearch($event.target)">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <p>({{filterEmployees().length?filterEmployees().length:0}} results found.)</p>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <form [formGroup]="filterForm" class="recruitment-form">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Filter by:</mat-label>
        <mat-select formControlName="filter" [(value)]="selectedFilter" (selectionchange)="filterEmployees()">
          <mat-option [value]="'all'">All</mat-option>
          <mat-option [value]="'favorite'">Favorite</mat-option>
          <mat-option *ngFor="let t of filteredJobTitles" [value]="t">{{t}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>

  </div>
</div>

<div class="transfer-list">
  <table class="table table-hover" style="min-width: 700px">
    <thead>
    <tr>
      <th>
        <mat-checkbox id="topCheck" (change)="toggleAllSelection($event.checked)"></mat-checkbox>
      </th>
      <th>Name</th>
      <th>Date</th>
      <th>Job Title</th>
      <th>CV</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let e of filterEmployees(); let i = index">
      <td>
        <mat-checkbox [checked]="isChecked[i]" (change)="toggleSelection($event.checked, e.id)"></mat-checkbox>
      </td>
      <td><span class="d-flex align-items-center h-100">{{e.name}}&nbsp;&nbsp;<mat-icon *ngIf="e.favorite" style="color: #F6C000;">star</mat-icon></span></td>
      <td>{{e.apply_date | date}}</td>
      <td>{{e.job_title}}</td>
      <td>
        <button class="btn-2" (click)="downloadCv(e.id)">
          <mat-icon>file_download</mat-icon>
          <span class="d-none d-md-flex">Download</span>
        </button>
      </td>
      <td>
        <div>
          <p matTooltip="Click to send an email">
            <a href="mailto:{{e.email}}" class="d-flex"><span class="d-none d-md-flex">{{e.email}}</span></a>
          </p>
        </div>
      </td>
      <td>
        <button class="btn-2" matTooltip="More" type="button" [matMenuTriggerFor]="applicant">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #applicant="matMenu">
          <button mat-menu-item type="button" (click)="favRecruiter(e.id)">{{e.favorite?'unfavored':'Favorite'}}</button>
          <button mat-menu-item type="button" (click)="nextLevelRecruiter(e.id)">Next Stage</button>
          <button mat-menu-item type="button" (click)="editRecruiter(e.id)" disabled>Edit</button>
          <button mat-menu-item type="button" (click)="deleteRecruiter(e.id)" style="color: red!important;">Delete</button>
        </mat-menu>
      </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="filterEmployees().length == 0">
    <div class="data-not-found">
      <p>Data not available!</p>
    </div>
  </div>
</div>

<div class="sticky-bottom d-flex align-items-center justify-content-end" style="height: 70px; background-color: var(--color-surface-200)">
  <button class="btn-1 px-3">Notify Selected</button>
</div>

