<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
</head>
<body>
<div class="p-2" style="background-color: #0CBC87">
  <h2 style="color: white">Approved Promotion Letter</h2>
</div>

<div class="container">
  <p>Dear <span th:text="${name}"></span>,</p>

  <p>Congratulations! Your promotion request has been approved. We appreciate your dedication and hard work.</p>

  <p>Details:</p>
  <ul style="list-style: none">
    <li>Email: <span th:text="${email}"></span></li>
    <li>Phone: <span th:text="${phone}"></span></li>
  </ul>

  <p>Your new position is <span th:text="${jobData.position}"></span> in the <span th:text="${jobData.department}"></span> department.</p>
  <br><br>

  <p>Best Regards,<br/>
    HR Department</p>
</div>

</body>
</html>
