.btn{
  border: none;
  outline: none;
  background-color: #8b8b8b;
  border-radius: 5px;
  padding: 3px 10px;
  color: white;

  &:nth-child(2){
    background-color: #382bf0;
  }

  &:disabled{
    background-color: #a6a6a6;
  }
}

.dropdown-visible{
  position: absolute;
  background-color: #fff;
  left: 20px;
  top: 50px;
  width: 100%;
  z-index: 9;
  display: none;
  max-height: 50vh;
  overflow-y: auto;

  li{
    list-style: none;
    cursor: pointer;
    padding: 3px 0;

    &:hover{
      background-color: #e5e5e5;
    }
  }
}

.task-title{
  font-weight: 500;
  font-size: 18px;
}

.task-item{
  font-size: 16px;
  margin-left: 14px;
}
