<div [ngClass]="{'theme-light': !isDarkMode, 'theme-dark': isDarkMode}">
  <div class="main-body">
    <h3 style="padding: 50px 0 0 20px">Post Video</h3>

    <mat-dialog-content class="mat-typography">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eaque est eum explicabo illo illum ipsam
        pariatur quaerat quos voluptatem? Alias architecto cum delectus error eum, exercitationem facilis fugiat id
        itaque magnam molestiae nesciunt nobis non obcaecati odit omnis perferendis perspiciatis porro quae quasi
        recusandae repellendus rerum temporibus vel vero, voluptate voluptatum! Ad adipisci ex quam repellendus. Aut
        dolore error laborum omnis quis voluptatum? A distinctio ex explicabo fugiat fugit iusto labore omnis quasi,
        voluptas voluptate! Accusantium asperiores aspernatur blanditiis dolorum, ea, esse eum, fugiat harum impedit
        inventore ipsam iste laudantium neque numquam optio porro praesentium quidem repellat totam ullam!</p><br>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <div class="col-12">
        <button class="button-1" type="submit">action</button>
      </div>
    </mat-dialog-actions>
  </div>
</div>
