<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="d-flex align-items-center justify-content-between">
                <h5>Employee Attendance</h5>
                <button class="btn-1 px-3" routerLink="/alm/mark-attendance">Mark Attendance</button>
            </div>
        </li>
        <li class="list-group-item">
            <div class="d-flex justify-content-end">
                <div class="input-group px-2" style="width: 350px">
                    <span class="input-group-text" id="basic-addon1"><mat-icon>search</mat-icon></span>
                    <input id="search-chat" type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1" (keyup)="handleSearch($event.target)">
                </div>
            </div>

            <div class="attendance-list">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>In</th>
                        <th>Out</th>
                        <th>No. Hours</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let a of filterAttendance()">
                        <td>{{a.name}}</td>
                        <td>{{a.recordInTime | dateFormat}}</td>
                        <td [ngStyle]="{'color': calculateHours(a.recordInTime, a.recordOutTime) < 9 ? 'red':'var(--color-text-200)'}">
                            {{a.recordInTime | timeFormat}}
                        </td>
                        <td>{{a.recordOutTime==null ? '-' : a.recordOutTime | timeFormat}}</td>
                        <td [ngStyle]="{'color': calculateHours(a.recordInTime, a.recordOutTime) < 9 ? 'red' : 'var(--color-text-200)'}">
                            {{a.recordOutTime==null ? '-' : calculateHours(a.recordInTime, a.recordOutTime) | hourMinuteFormat}}
                        </td>
                        <td><div class="d-flex align-items-center justify-content-around">
                            <p class="text-btn" (click)="editAttendance(a)">Edit</p>
                            <p class="text-btn">Add Shift</p>
                        </div></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </li>
        <li class="list-group-item">&nbsp;</li>
    </ul>
</div>
