<div class="container">

    <ul class="nav nav-pills my-3">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="navigateBetweenTabs('transfer')" [class.active]="isActive('transfer')" matTooltip="Request transfer"><mat-icon>swap_horiz</mat-icon><span class="d-none d-md-block">&nbsp;&nbsp;Transfer</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="navigateBetweenTabs('promotion')" [class.active]="isActive('promotion')" matTooltip="Request Promotion"><mat-icon>stars</mat-icon><span class="d-none d-md-block">&nbsp;&nbsp;Promotion</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="navigateBetweenTabs('leave')" [class.active]="isActive('leave')" matTooltip="Request a Leave"><mat-icon>person_remove</mat-icon><span class="d-none d-md-block">&nbsp;&nbsp;Leave</span></a>
        </li>
    </ul>

    <router-outlet></router-outlet>

</div>
