.nav-pills{
  background-color: var(--color-surface-mixed-300);
  border-radius: 8px;
  padding: 10px;
  justify-content: flex-end;

  .nav-item{
    .nav-link{
      color: var(--color-text-300);
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      span{
        color: var(--color-text-300);
        font-weight: 500;
      }
    }
    .nav-link.active{
      background-color: var(--color-primary-200);
      color: white;

      span{
        color: white;
      }
    }
  }
}