<div [ngClass]="{'theme-light': !isDarkMode, 'theme-dark': isDarkMode}">
  <div class="main-body" style="min-height:300px; min-width: 300px; max-height: 350px">
    <mat-dialog-content class="mat-typography" style="max-height: 70%; overflow-y: auto; overflow-x: hidden">
      <div class="d-flex align-items-center my-2 user" *ngFor="let e of data.data" (click)="navigateToProfile(e.id)">
        <div class="profile-image">
          <img [src]="e.photo" alt="profile image">
        </div>
        <p>{{e.name}}</p>
      </div>
    </mat-dialog-content>
  </div>
</div>
