.form-floating {
  width: 100%;

  .form-control {
    height: 80px;
    width: 100%;
    background-color: var(--color-surface-mixed-200);
    color: var(--color-text-200);

    &::placeholder {
      color: var(--color-text-200);
    }
  }

  label {
    color: var(--color-text-200);

    &::after {
      color: var(--color-text-300);
      background: transparent;
    }
  }
}

.profile-pic {
  margin-right: 18px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--color-surface-mixed-200);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.btn-1{
  &:disabled{
    color: var(--color-text-300);
    background-color: var(--color-surface-mixed-600);
  }
}

::-webkit-scrollbar {
  width: 0;
}
