<div style="max-height: 100vh; overflow-y: auto">
  <div class="card">
    <div class="card-body">
      <div class="share-post d-flex w-100">
        <div class="profile-pic">
          <img [src]="employee[0].photo" alt="profile image" (click)="navigateUrl(employee[0].id)">
        </div>
        <div class="form-floating w-100">
          <textarea class="form-control" placeholder="" id="share-post" style="height: 80px; width: 100%"></textarea>
          <label for="share-post">Share Your Thought</label>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between mt-3">
        <div class="d-flex">
          <button class="btn-3">
            <mat-icon>add_photo_alternate</mat-icon>&nbsp;&nbsp;photo
          </button>
          <button class="btn-3">
            <mat-icon>video_library</mat-icon>&nbsp;&nbsp;video
          </button>
          <button class="btn-3">...</button>
        </div>
        <button class="btn-1 px-3">Post</button>
      </div>
    </div>
  </div>

  <div class="card" *ngFor="let post of feedPost">
    <div class="card-body">
      <div class="author-wrapper d-flex align-items-center justify-content-start">
        <div class="profile-pic">
          <img src="{{post.userPhoto}}" alt="profile image" (click)="navigateUrl(post.userId)">
        </div>
        <div class="author-name d-flex flex-column">
          <div class="d-flex align-items-center">
            <h6 (click)="navigateUrl(post.userId)">{{post.user}}</h6> &nbsp;&dot;&nbsp; <p>{{post.time}}</p>
          </div>
          <p>{{post.userPosition}}</p>
        </div>
      </div>

      <div class="my-3">
        <p class="post-description">{{post.message}}</p>
      </div>

      <div class="posted-content">
        <img [src]="post.file" alt="post" *ngIf="post.type == 'image/jpeg'">
        <video [src]="post.file" controls *ngIf="post.type == 'video/mp4'" style="width: 100%">
          Your browser does not support the video tag.
        </video>
      </div>

      <div class="my-3 d-flex align-items-center justify-content-between" *ngIf="commentSection">
        <div class="d-flex align-items-center">
          <div class="post-reaction d-flex align-items-center">
            <span class="clickable-span">Like</span>
            <span class="clickable-span" (click)="openLikes(post.likers)">&nbsp;({{post.likes}})</span>
          </div>
          <div class="post-reaction d-flex align-items-center mx-3">
            <span class="clickable-span">Comment</span>
            <span class="clickable-span" (click)="openComments(post.commenters)">&nbsp;({{post.comments}})</span>
          </div>
        </div>
        <div>
          <div class="post-reaction d-flex align-items-center">
            <span class="clickable-span">Share</span>
            <span class="clickable-span" (click)="openShares(post.sharing)">&nbsp;({{post.shares}})</span>
          </div>
        </div>
      </div>

      <div class="d-flex align-items-start" *ngIf="commentSection">
        <div class="profile-pic">
          <img [src]="employee[0].photo" alt="profile image">
        </div>
        <div class="d-flex flex-column w-100">
          <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="commentAreaLink">
            <div class="form-floating w-100">
              <textarea class="form-control" placeholder="Add a Comment..." id="comment-post" style="height: 60px; width: 100%"></textarea>
              <label for="comment-post"></label>
            </div>
          </a>
          <div class="collapse" id="collapseExample">
            <div class="d-flex justify-content-end my-2">
              <button class="btn-1">Comment</button>
            </div>
          </div>
        </div>
      </div>

      <div class="my-2" *ngIf="commentSection">
        <div class="my-2 d-flex align-items-start justify-content-between" *ngFor="let c of commentsForPost(post.id)">
          <div class="profile-pic">
            <img src="{{c.userProfile}}" alt="profile image" (click)="navigateUrl(c.userId)">
          </div>
          <div class="comment w-100">
            <div class="d-flex justify-content-between align-items-center">
              <h6 (click)="c.userId">{{c.user}}</h6>
              <p>{{c.time}}</p>
            </div>
            <p>{{c.comment}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
