.transfer-list{
  overflow: auto;
  max-height: calc(100vh - 200px);

  .table{
    margin-top: 15px;
    border-radius: 5px;
    overflow: hidden;

    th{
      background-color: var(--color-surface-mixed-300);
      color: var(--color-text-200);
    }

    td{
      background-color: transparent;
      color: var(--color-text-200);
    }
  }
}