<div class="d-flex align-items-center justify-content-between">
  <div class="input-group px-2" style="max-width: 400px">
    <span class="input-group-text" id="basic-addon1"><mat-icon>search</mat-icon></span>
    <input id="search-chat" type="text" class="form-control" placeholder="Search" aria-label="Username"
           aria-describedby="basic-addon1" (keyup)="handleSearch($event.target)">
  </div>
    <button class="btn-1 px-2" matTooltip="Create new plan" (click)="cratePlan()"><mat-icon>add</mat-icon><span class="d-none d-md-block">&nbsp;&nbsp;Create Plan</span></button>
</div>

<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="d-md-flex align-items-center justify-content-between">
                <h5>Onboarding Plan</h5>
            </div>
        </li>
      <li class="list-group-item">
        <div class="transfer-list">
          <span class="title-span">Templates</span>
          <div class="row" *ngFor="let tp of filterTemplates()">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card-2">
                <div class="d-flex align-items-center text-center py-4 px-4">
                  <h3>{{tp.empName}}</h3>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="filterTemplates().length == 0">
            <div class="data-not-found">
              <p>Data not available!</p>
            </div>
          </div>
        </div>
      </li>
        <li class="list-group-item">
            <div class="transfer-list">
              <span class="title-span">Ongoing Plans</span>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Employee</th>
                        <th>Title</th>
                        <th>Date Range</th>
                        <th>Manager</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let p of filterPlans()">
                        <td [title]="p.empName">{{p.empName}}</td>
                        <td [title]="p.title">{{p.title | truncate:10}}</td>
                        <td>
                            <div class="d-flex align-items-center">
                                {{p.startDate | dateFormat}}&nbsp;-&nbsp;{{p.taskDate | dateFormat}}
                            </div>
                        </td>
                        <td [title]="p.manager">{{p.manager}}</td>
                    </tr>
                    </tbody>
                </table>
                <div *ngIf="filterPlans().length == 0">
                    <div class="data-not-found">
                        <p>Data not available!</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">&nbsp;</li>
    </ul>
</div>
