<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="d-flex align-items-center justify-content-start">
        <h5 class="py-2">Activity Timeline</h5>
      </div>
    </li>
    <li class="list-group-item">
      <ol class="style_1">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3<br/>
          <small>
            Note: Some tost to expand verticle height<br/>
            and some more lines
          </small>
        </li>
        <li>Item 5
          <ol>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
          </ol>
        </li>
        <li>More Item 6</li>
        <li>More Item 7</li>
      </ol>
    </li>
    <li class="list-group-item">&nbsp;</li>
  </ul>
</div>
