<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="d-flex align-items-center justify-content-start">
        <h5 class="py-2">Activity Timeline</h5>
      </div>
    </li>
    <li class="list-group-item">
      <ol class="style_1">
        <li><small>Today 5.24PM</small><br>
          You liked <a href="#">Julia's Post</a>
        </li>
        <li><small>Today 3.22PM</small><br>
          You commented on <a href="#">Chamara's Post</a><br>
          <small>Wow, this article provided such valuable insights into the future of renewable energy! I appreciate the
            thorough analysis and clear explanations.</small>
        </li>
        <li><small>Today 11.22AM</small><br>
          You shared <a href="#">Chamara's Post</a><br>
          <small>Activity Description Description or tags. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            egestas convallis mauris sed mollis. In magna nulla, auctor in accumsan sed, convallis vel magna. Curabitur
            sed ex erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small>
        </li>
        <li>Item 5
          <ol>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
          </ol>
        </li>
        <li>More Item 6</li>
        <li>More Item 7</li>
      </ol>
    </li>
    <li class="list-group-item">&nbsp;</li>
  </ul>
</div>
