p{
  margin-bottom: 0;

  .danger{
    color: red;
  }

  .link{
    color: var(--color-primary-300);

    &:hover{
      text-decoration: underline;
    }
  }

  .link-enabled{
    cursor: pointer;
  }

  .link-disabled{
    cursor: not-allowed;
  }
}
