<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="d-flex align-items-center justify-content-between">
                <h5>New Pay Item</h5>
            </div>
        </li>
        <li class="list-group-item">
            <div class="table-data-list">
              <form>
                <div class="mb-3 row ">
                    <div class="col-4">
                        <label for="formGroupExampleInput" class="form-label">Pay Item Name</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder=" ">
                    </div>
                </div>
                <div class="mb-3 row ">
                  <div class="col-4">
                      <label for="formGroupExampleInput" class="form-label">Description</label>
                  </div>
                  <div class="col-8">
                      <input type="text" class="form-control" id="formGroupExampleInput" placeholder=" ">
                  </div>
                </div>
                <div class="mb-3 row ">
                  <div class="col-4">
                      <label for="formGroupExampleInput" class="form-label">Iteam Type</label>
                  </div>
                  <div class="col-8">
                      <input type="text" class="form-control" id="formGroupExampleInput" placeholder=" ">
                  </div>
                </div>
                <div class="mb-3 row ">
                  <div class="col-4">
                      <label for="formGroupExampleInput" class="form-label">Status</label>
                  </div>
                  <div class="col-8">
                      <input type="text" class="form-control" id="formGroupExampleInput" placeholder=" ">
                  </div>
                </div>
                <div class="mb-3 row ">
                  <div class="col-4">
                      <label for="formGroupExampleInput" class="form-label">Amount</label>
                  </div>
                  <div class="col-8">
                      <input type="text" class="form-control" id="formGroupExampleInput" placeholder=" ">
                  </div>
                </div>
                <div class="mb-3 row ">
                  <div class="col-4">
                      <label for="formGroupExampleInput" class="form-label">Pay Iteams Name</label>
                  </div>
                  <div class="col-8">
                      <input type="text" class="form-control" id="formGroupExampleInput" placeholder=" ">
                  </div>
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-secondary btn-lg" type="reset">Discard</button>
                    <button class="btn btn-primary me-md-2" type="submit">Save Changes</button>        
                </div>

              </form>
            </div>
  
        </li>
        <li class="list-group-item">&nbsp;</li>
    </ul>
  </div>
  