<div class="container body">
      <div class="navbar">
        <app-payrollnavbar></app-payrollnavbar>
      </div>
      <div class="heading">
        <h2>Add Pay Iteam</h2></div>
      </div>
  <div class=" formsection">
      <form>
        <div class="mb-3 row ">
            <div class="col-4">
                <label for="formGroupExampleInput" class="form-label">Pay Iteams Name</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder=" ">
            </div>
        </div>
        <div class="mb-3 row ">
          <div class="col-4">
              <label for="formGroupExampleInput" class="form-label">Description</label>
          </div>
          <div class="col-8">
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder=" ">
          </div>
        </div>
        <div class="mb-3 row ">
          <div class="col-4">
              <label for="formGroupExampleInput" class="form-label">Iteam Type</label>
          </div>
          <div class="col-8">
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder=" ">
          </div>
        </div>
        <div class="mb-3 row ">
          <div class="col-4">
              <label for="formGroupExampleInput" class="form-label">Status</label>
          </div>
          <div class="col-8">
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder=" ">
          </div>
        </div>
        <div class="mb-3 row ">
          <div class="col-4">
              <label for="formGroupExampleInput" class="form-label">Amount</label>
          </div>
          <div class="col-8">
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder=" ">
          </div>
        </div>
        <div class="mb-3 row ">
          <div class="col-4">
              <label for="formGroupExampleInput" class="form-label">Pay Iteams Name</label>
          </div>
          <div class="col-8">
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder=" ">
          </div>
        </div>


        
        <div>    
            <table class="table table-hover table table-borderless table-responsive">
                <thead class="tableHeader">
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let employee of employees">
                  <td><input type="checkbox" name="selectEmployee" id="empselect"></td>
                  <td>{{ employee.name }}</td>
                  <td>{{ employee.email }}</td>
                  <td>{{ employee.phone }}</td>
                </tbody>
            </table>
        </div>
        <div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-secondary btn-lg" type="reset">Discard</button>
            <button class="btn btn-primary me-md-2" type="submit">Save Changes</button>
           
          </div>
      </div>
      </form>

        
      
    
  </div>
  
