.body{
    display: flex;
    flex-direction: column;
    margin: 30px 50px;
   
}

.formsection{
    
    margin: 5% 10%;
    width: clamp(40vw, 80% , 100vw);
 
}
table{
    background-color: thistle;
}
th{
    border-width: 0 0 2px 0 ;
        
}
