<div class="container">
    <div class="card">
        <div class="container py-2">
            <h2>Employee Update Form</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet doloremque illum impedit in modi
                nam sequi, tempora unde veritatis!</p>

            <form [formGroup]="employeeForm">
                <div class="row" *ngFor="let e of employee">
                    <h4 class="my-3">Personal Info</h4>

                    <div class="d-flex align-items-center mb-3">
                        <div class="profile-img me-2">
                            <img id="empAddProfile" [src]="chosenPhoto==null?convertToSafeUrl(e.photo):onFileSelected()" alt="profile image">
                        </div>
                        <div class="profile-img-setting">
                            <span class="tag-1 d-flex"><span class="d-flex d-md-none" style="color: #c0392b">&ast;</span><span class="d-none d-md-flex">Allowed file types</span>: .jpg, .jpeg, .pjp</span>
                            <div class="d-flex">
                                <button type="button" class="btn-1 me-2 px-2" (click)="choosePhoto()"><mat-icon class="d-flex d-md-none">add</mat-icon><span class="d-none d-md-flex w-col">Upload Image</span></button>
                                <button type="button" class="btn-3 px-2" (click)="defaultPhoto()"><mat-icon class="d-flex d-md-none">delete_sweep</mat-icon><span class="d-none d-md-flex">Remove</span></button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>FIRSTNAME</mat-label>
                            <input matInput id="name" formControlName="name" placeholder="John" >
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>LASTNAME</mat-label>
                            <input matInput id="lname" formControlName="lname" placeholder="Doe" >
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>PHONE</mat-label>
                            <input matInput id="phone" formControlName="phone" placeholder="+94764534990" >
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>EMAIL</mat-label>
                            <input matInput id="email" formControlName="email" placeholder="john@gmail.com" >
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>GENDER</mat-label>
                            <input matInput id="gender" formControlName="gender"  placeholder="Male" >
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>DATE OF BIRTH</mat-label>
                            <input matInput [matDatepicker]="dob" formControlName="dob">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="dob"></mat-datepicker-toggle>
                            <mat-datepicker #dob></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-md-6">
                    </div>

                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>NIC</mat-label>
                            <input matInput id="nic" formControlName="nic" placeholder="9567568909v" >
                        </mat-form-field>
                    </div>

                    <h4 class="my-3">Address</h4>

                    <div class="col-12">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>STREET</mat-label>
                            <input matInput id="address" formControlName="address" placeholder="123 Street" >
                        </mat-form-field>
                    </div>

                    <h4 class="my-3">Organization Info</h4>

                    <div formGroupName="jobData">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>DEPARTMENT</mat-label>
                                    <mat-select id="department" formControlName="department" [(value)]="selectedDepartment">
                                        <mat-option *ngFor="let d of departmentDataStore" [value]="d.id">{{d.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6">
                                <button type="button" id="dep-btn" class="btn-1 px-2"><mat-icon>add</mat-icon>Create New Department</button>
                            </div>
                            <div class="col-12 col-md-6">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>POSITION</mat-label>
                                    <input matInput formControlName="position" type="text" placeholder="Manager"/>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>SALARY</mat-label>
                                    <input matInput id="salary" formControlName="salary" type="text" placeholder="12000"/>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>JOINING DATE</mat-label>
                                    <input matInput [matDatepicker]="doj" formControlName="doj">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="doj"></mat-datepicker-toggle>
                                    <mat-datepicker #doj></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>STATUS</mat-label>
                            <input matInput id="status" formControlName="status" placeholder="Onboarding">
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-md-6">
                        <!--                                cancel button-->
                    </div>
                    <div class="col-12 col-md-6">
                        <button type="submit" class="btn-1 my-4 w-100" [disabled]="employeeForm.invalid" (click)="onSubmit()">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>